<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCFH5pYKiD2lqDEgDKmmTV_jz1qzTTp_N4</string>
	<key>GCM_SENDER_ID</key>
	<string>264895162204</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.exam4</string>
	<key>PROJECT_ID</key>
	<string>exam6-d6f25</string>
	<key>STORAGE_BUCKET</key>
	<string>exam6-d6f25.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:264895162204:ios:9a97ee761979b93b244399</string>
</dict>
</plist>